.Navbar_Container {
    position: fixed;
    width: 100%;
    height: 100px;
    .Navbar_Content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
        .button {
            button {
                background-color: #5D4043;
                border: none;
                padding: 15px 30px;
                color: white;
                mix-blend-mode:darken;
            }
        }
    }
}
