@font-face {
    font-family: Tartufo_Bold;
    src: url("/public/Font/tartuffo/Tartuffo_Trial-Bold.otf") format('truetype');
}
@font-face {
    font-family: Tartufo_Bold_Italic;
    src: url("/public/Font/tartuffo/Tartuffo_Trial-BoldItalic.otf") format('truetype');
}
@font-face {
    font-family: Tartufo_Light;
    src: url("/public/Font/tartuffo/Tartuffo_Trial-Light.otf") format('truetype');
}
@font-face {
    font-family: Tartufo_Light_Italic;
    src: url("/public/Font/tartuffo/Tartuffo_Trial-LightItalic.otf") format('truetype');
}
@font-face {
    font-family: Tartufo_Medium;
    src: url("/public/Font/tartuffo/Tartuffo_Trial-Medium.otf") format('truetype');
}
@font-face {
    font-family: Tartufo_Medium_Italic;
    src: url("/public/Font/tartuffo/Tartuffo_Trial-MediumItalic.otf") format('truetype');
}
@font-face {
    font-family: Tartufo_Regular;
    src: url("/public/Font/tartuffo/Tartuffo_Trial-Regular.otf") format('truetype');
}
@font-face {
    font-family: Tartufo_Regular_Italic;
    src: url("/public/Font/tartuffo/Tartuffo_Trial-RegularItalic.otf") format('truetype');
}
@font-face {
    font-family: Tartufo_Thin;
    src: url("/public/Font/tartuffo/Tartuffo_Trial-Thin.otf") format('truetype');
}
@font-face {
    font-family: Tartufo_Thin_Italic;
    src: url("/public/Font/tartuffo/Tartuffo_Trial-ThinItalic.otf") format('truetype');
}
    

@font-face {
    font-family: Gustavo_Medium;
    src: url("/public/Font/gustavo/Gustavo_trial-Medium.otf") format('truetype');
}