@import '../Base/Variables.scss';
$couleurs: (#5D4043, #FF5A5A, #C40018, #0066FF, #0007AF); // Tableau des couleurs
$angle-rotation: 20deg; // Angle de rotation

// Définition de l'animation
@keyframes rotation-couleur {
  @for $i from 0 to length($couleurs) {
    #{percentage($i / length($couleurs))} {
      filter: hue-rotate($angle-rotation * $i);
      color: nth($couleurs, $i + 1);
    }
  }
}
.Home_Container {
    z-index: 999;
    .Home_Content {
        .video-container {
            position: relative;
            height: auto;
            z-index: -4;
            overflow: hidden; 
            video {
                width: 100%;
            }
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 70%; 
                background-color: white; 
                z-index: 1; 
                display: block;
                background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            }
        }
        
        .subtitle {
            position: absolute;
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            color: $principal_color;
            transition: all 0.3s ease;
        
            h2 {
                font-family: Tartufo_Medium;
                animation: rotation-couleur 5s linear 1;
                font-size: 35px;
                text-align: center;
            }
        
            h1 {
                font-family: Tartufo_Medium;
                font-size: 60px;
                width: 70%;
                font-weight: 500;
                text-align: center;
            }
        
            p {
                font-family: Gustavo_Medium;
                font-weight: bold;
                font-size: 19px;
            }
        }
        
        .angry-grid {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 250px;
            .bento {
                display: grid;
                grid-gap: 15px;
                > div {
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            
                #item-0 {
                    display: flex;
                    flex-direction: column;
                    background-color: #ffffff;
                    border: 2px solid rgba(128, 128, 128, 0.348);
                    grid-area: 1 / 1 / 3 / 2;
                    width: 380px;
                    height: 612px;
                    gap: 15px;
                    overflow: hidden;

                    img{
                        margin-right: 380px;
                        overflow: hidden;
                        transition: .4s;
                        &:hover{
                            margin-left: 50px;
                        }
                    }
                    .text{
                        padding: 15px;
                        h3{
                            font-family: Tartufo_Bold;
                            color: $principal_color;
                            font-size: 30px;
                        }
                        p{
                            font-family: Gustavo_Medium;

                            font-size: 18px;
                            color: $principal_color;
                        }
                    }
                }
            
                #item-1 {
                    display: flex;
                    background-color: #ffffff;
                    border: 2px solid rgba(128, 128, 128, 0.348);
                    grid-area: 1 / 2 / 2 / 4;
                    width: 580px;
                    height: 298px;
                    overflow: hidden;
                    background-image: url('../../assets/img/svg/bento/bille.svg');
                    background-position: -160px center;
                    transition: .3s;
                    &:hover{
                    background-position: -120px center;

                    }
                     .text{
                        z-index: 999;
                        display: flex;
                        gap: 15px;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        color: $principal_color;
                        h3{
                            font-family: Tartufo_Bold;

                            font-size: 35px;
                            margin-left: 140px;
                        }
                        p{
                            font-family: Gustavo_Medium;

                            margin-left: 175px;
                            width: 50%;
                        }
                    }
                    /*img{
                        position: relative;
                        left: 305px;
                        &:hover{
                            left: 335px;
                        }
                    }*/
                }
            
                #item-2 {
                    display: flex;
                    flex-direction: column;
                    background-color: #ffffff;
                    border: 2px solid rgba(128, 128, 128, 0.348);
                    grid-area: 2 / 2 / 3 / 3;
                    width: 282px;
                    height: 298px;
                    gap: 35px;
                    padding: 15px;
                    .text{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        color: $principal_color;
                        h3{
                            font-family: Tartufo_Bold;
                        }
                        p{
                            font-family: Gustavo_Medium;

                        }
                    }
                }
            
                #item-3 {
                    display: flex;
                    flex-direction: column-reverse;
                    background-color: #ffffff;
                    border: 2px solid rgba(128, 128, 128, 0.348);
                    grid-area: 2 / 3 / 3 / 4;
                    width: 282px;
                    height: 298px;
                    overflow: hidden;
                    img{
                        position: relative;
                        top: 30px;
                        left: 50px;
                        overflow: hidden;
                        transition: .4s;
                        height: 350px;
                        width: 500px;
                        &:hover{
                            top: 5px;
                        }

                    }
                    .text{
                        padding-top: 50px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        color: $principal_color;
                        h3{
                            font-family: Tartufo_Bold;

                        }
                        p{
                            font-family: Gustavo_Medium;

                            width: 90%;
                        }
                        
                    }
                }
            
                
                #item-4 {
                    display: flex;
                    flex-direction: column-reverse;
                    background-color: #ffffff;
                    border: 2px solid rgba(128, 128, 128, 0.348);
                    grid-area: 3 / 1 / 4 / 3;
                    width: 678px;
                    height: 298px;
                    overflow: hidden;
                    background-image: url('../../assets/img/svg/bento/plan.svg');
                    background-size: auto 590px;
                    transition: background-position 0.3s ease-in-out; 
                    &:hover{
                        background-position: left -40px top -50px;
                    }
                    .text{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        position: relative;
                        top: -70px;
                        padding: 15px;
                        color: $principal_color;
                        h3{
                            font-family: Tartufo_Bold;

                            font-size: 35px;
                        }
                        p{
                            font-family: Gustavo_Medium;

                            width: 65%;
                        }
                    }
                }
            
                #item-5 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                        align-items: center;
                    gap: 35px;
                    background-color: #ffffff;
                    border: 2px solid rgba(128, 128, 128, 0.348);
                    grid-area: 3 / 3 / 4 / 4;
                    width: 282px;
                    height: 298px;
                    .text{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        color: $principal_color;
                        h3{
                            font-family: Tartufo_Bold;

                        }
                        p{
                            font-family: Gustavo_Medium;
                        }
                    }
                }
            }
        }
        
        .tech{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: $principal_color;
            margin-bottom: 500px;
            position: relative;
            height: auto;
          
            .dec{
                position: relative;
                top: 350px;
                font-weight: bold;
            }
            &::before {
                content: '';
                position: absolute;
                bottom: -420px;
                left: 0;
                width: 100%;
                height: 100%; 
                background-color: white; 
                z-index: 1; 
                display: block;
                background: linear-gradient(to bottom, #d4c2b85f 0%,rgba(255, 255, 255, 0.344) 100%);
            }
            .text{
                margin-top: -100px;
                
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 35px;
                .desc{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                     margin-left: 98px;
                     gap: 35px;
                    p{
                        font-family: Gustavo_Medium;
                        font-size: 25px;
                        width: 20%;
                        span{
                            font-weight: bolder;
                            color: black;
                        }
                    }
           
                }
                .title{
                    h1{
                        font-family: Tartufo_Medium;
                        font-size: 90px;
                        width: 50%;
                    }
                }
                
            }
        }

        .tototte {
            margin-top: 1000px;
            margin-bottom: 500px;
            .img{
                display: flex;
                justify-content: center;
                gap: 35px;
                position: relative;
              
                &::before {
                  content: '';
                  position: absolute;
                  bottom: -160px;
                  left: 0;
                  width: 100%;
                  height: 70%;
                  background-color: white;
                  z-index: 1;
                  display: block;
                  background: linear-gradient(to bottom, #d4c2b838 0%, rgba(255, 255, 255, 0.091) 100%);
                }
              
                .img1,
                .img2,
                .img3,
                .img4,
                .img5,
                .img6,
                .img7,
                .img8 {
                  position: relative;
                  img {
                    transition: .3s;
                    &:hover {
                      margin-top: -50px;
                    }
                  }
                  .text {
                    color: $principal_color;
                    display: none;
                    position: absolute;
                    top: -85px;
                    left: 180px;
                    transform: translateX(-50%);
                    width: 250px;
                    border: 2px solid black;
                    padding: 5px 10px;
                    border-radius: 5px;
                    z-index: 2;
                    transition: .3s;
                    gap: 25px;
                    padding: 15px;
                    h2{font-family: Gustavo_Medium; margin-bottom: 15px;}
                    p{font-family: Tartufo_Medium;}
                  }
                }
              
                .img1:hover .text,
                .img2:hover .text,
                .img3:hover .text,
                .img4:hover .text,
                .img5:hover .text,
                .img6:hover .text,
                .img7:hover .text,
                .img8:hover .text {
                  display: block;
                }
              
                .img1::after,
                .img2::after,
                .img3::after,
                .img4::after,
                .img5::after,
                .img6::after,
                .img7::after,
                .img8::after {
                  content: '';
                  position: absolute;
                  top: 100%;
                  left: 50%;
                  transform: translateX(-50%);
                  width: 100%;
                  height: 150px;
                  border-radius: 50%;
                  background-color: rgba(0, 0, 0, 0.31);
                  filter: blur(10px);
                  transition: .3s;
                  z-index: -1;
                  opacity: 0;
                }
              
                .img1:hover::after,
                .img2:hover::after,
                .img3:hover::after,
                .img4:hover::after,
                .img5:hover::after,
                .img6:hover::after,
                .img7:hover::after,
                .img8:hover::after {
                  height: 50px;
                  opacity: 1;
                }
            }

            .infos{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 50px;
                margin-left: 700px;
                color: $principal_color;
                .letexte{
                    p{
                        width: 40%;
                        font-size: 19px;
                    }
                }
                .trente{
                    span{
                        font-size: 100px;
                    }
                    p{
                        width: 50%;
                    }
                }
                .onze{
                    span{
                        font-size: 100px;
                    }
                    p{
                        width: 50%;
                    }
                }
             
            }
          }
    }
}
